body{
    background-image: linear-gradient(90deg ,purple 40%, blue);
}

.coin{
    display: inline-block;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.coin h2{
    text-align: center;
}

.coinContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
}

[v-cloak]{
    display: none;
}